*.o
rotlibcheck.h5
**.dgraph
pyebsdindex/Archive
report.log
**.DS_Store

# Python
**/__pycache__
*.egg-info
dist/

# Jupyter
**.ipynb_checkpoints

# Editors
**/.idea
.vscode
*.code-workspace

# Line coverage
.coverage

# Sphinx
doc/_build