<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>55</integer>
	<key>Time Stamp</key>
	<real>1597949970.941632</real>
	<key>UUID</key>
	<string>A1E954A8-B675-4962-A3FF-EF915EB3F8B3</string>
</dict>
</plist>
