name: Build

on: [push, pull_request]

jobs:
  build-with-pip:
    name: ${{ matrix.os }}-py${{ matrix.python-version }}${{ matrix.LABEL }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      MPLBACKEND: agg
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install PyOpenCL from source
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          python -m pip install --upgrade pip "setuptools<60.0.0"
          bash ci/install_pyopencl.sh
      - name: Install dependencies and package
        run: |
          pip install --upgrade --editable .'[tests]'
      - name: Display versions of Python, pip and packages
        run: |
          python -V
          pip -V
          pip list
      - name: Run tests
        run: |
          pytest --cov=pyebsdindex --pyargs pyebsdindex
      - name: Generate line coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          coverage report --show-missing
